* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}
#wrapper {
    width:85%;
    margin: 0px auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #2196F3;
 grid-column-gap: 1.1%;
}
.grid-item {
   background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
}
.grid-header {
	grid-column-start:1;
    grid-column-end:4;
    margin-bottom: 20px;
}
.grid-footer {
	grid-column-start:1;
    grid-column-end:4;
    margin-top: 20px;
}
.footer-img {
    width:100%;
}

